
.calculator {
    margin: 0 auto;
    max-width: 700px;
    border: solid 1px #eee;
    border-radius: 10px;
    padding: 15px;

    header, main {
        border: solid 1px #eee;
        border-radius: 5px;
        padding: 15px;
    }

    header { text-align: right;}

    main {
        display: flex;
        justify-content: space-between;
        margin-top: 10px;        
    }
}

