
#calculator {
    margin: 0 auto;
    max-width: 700px;
    border: solid 1px #eee;
    border-radius: 10px;
    padding: 15px;

    header, main {
        border: solid 1px #eee;
        border-radius: 5px;
        padding: 15px;
    }

    header { text-align: right;}

    main {
        display: flex;
        justify-content: space-between;
        margin-top: 10px;

        #numbers, #operators {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            gap: 10px;
            list-style: none;
            padding: 0;
            margin: 0;
            width: 60%;
            // background-color: #eee;

            li {
                width: 30%;
                display: flex;
                justify-content: center;
                align-items: center;
                border: solid 1px #eee;
                border-radius: 5px;
                height: 60px;

                &:hover,
                &:active {
                    background-color: #eee;
                    cursor: pointer;
                }
            }
        }

        #operators {
            width: 30%;
            display: grid;
            grid-template-columns: 1fr 1fr;
            justify-content: space-between;
            grid-gap: 10px;

            li {
                width: 100%;
                min-height: 100%;
                align-self: flex-end;

                &.tall {
                    grid-column: 2;
                    grid-row: span 3;
                }
            }
        }
    }
}

#accordion {
    margin: 30px auto;
    max-width: 700px;
    

    #tabs {
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        gap: 2px;

        li {
            border: solid 1px #eee;
            border-radius: 10px 10px 0 0;

            padding: 15px;

            &:hover,
            &:active,
            &.active {
                background-color: #eee;
                cursor: pointer;
            }
        }
    }

    #tabs-content {
        border: solid 1px #eee;
        border-radius: 0 0 10px 10px;
        padding: 15px;
        background-color: #eee;
    }
}