.accordion {
    margin: 30px auto;
    max-width: 700px;
    

    .tabs {
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        gap: 2px;

        li {
            border: solid 1px #eee;
            border-radius: 10px 10px 0 0;

            padding: 15px;

            &:hover,
            &:active,
            &.active {
                background-color: #eee;
                cursor: pointer;
            }
        }
    }

    .tabsContent {
        border: solid 1px #eee;
        border-radius: 0 0 10px 10px;
        padding: 15px;
        background-color: #eee;
    }
}